/* Puedes agregar esto en un archivo CSS nuevo o en el mismo archivo CSS que usas para los componentes */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
.model-list {
    font-family: "Fredoka", sans-serif;
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
  }
  
  .model-list li {
    background-color: #fbd5e5; /* Color de fondo para cada modelo */
    margin: 10px 0; /* Margen entre modelos */
    padding: 10px; /* Espaciado en los modelos */
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 0.3s; /* Transición suave */
  }
  
