nav { 
    padding: 10px 20px; /* Espaciado interior */
  }
  
  ul {
    list-style: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    display: flex; /* Usar flexbox para los enlaces */
  }
  
  li {
    margin-right: 20px; /* Espaciado entre elementos */
  }
  
  li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último elemento */
  }
  
  a {
    color: #ecf0f1; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-family: 'Fredoka', sans-serif; /* Fuente */
    font-size: 18px; /* Tamaño de la fuente */
    transition: color 0.3s; /* Transición suave para el color */
  }
  
  a:hover {
    color: #bd6f95; /* Color de los enlaces al pasar el mouse */
  }
  