.product-catalog {
  margin-top: 20px;
}

.product-catalog h2 {
  color: #bd6f95; /* Color principal para el título del catálogo de productos */
  font-size: 1.8em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-left:10px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  background-color: #fdeaf2;
  border: 2px solid #bd6f95;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 220px; /* Asegura que todas las tarjetas tengan el mismo ancho */
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Organiza los elementos en columnas */
  justify-content: space-between; /* Espacio entre los elementos */
  height: 400px; /* Define una altura uniforme */
}
.product-item img {
  width: 50%;
  height: 180px;
  border: 2px solid #e6c6d0; /* Línea de separación */
  border-radius: 8px 8px 8px 8px; /* Curva solo en la parte superior */
  object-fit: cover;
  display: block; /* Asegura que la imagen se centre correctamente */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}

.product-item h3 {
  color: #d484aa;
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center; /* Centramos el título */
  height: 75px; /* Define una altura fija para el nombre */
  overflow: hidden; /* Evita que el texto salga del contenedor */
  text-overflow: ellipsis; /* Añade "..." si el texto es muy largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  display: block; /* Asegúrate de que el elemento sea un bloque */
  width: 100%; /* Asegúrate de que el ancho esté definido */
}


.product-info h2 {
  font-size: 34px; 
  color: #bd6f95;
  white-space:nowrap;
}

.product-item p {
  color: #a95f80;
  font-size: 0.9em;
  margin-top:5px;
  flex-grow: 1;
  height: 50px; /* Define una altura fija para la descripción */
  overflow: hidden; /* Recorta el texto si es demasiado largo */
  text-overflow: ellipsis; /* Añade "..." si el texto es muy largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.product-price {
  font-size: 1.4em; /* Tamaño de fuente del precio */
  font-weight: bold;
  color: #bd6f95; /* Color del precio */
  margin-top:5px;
}

.product-item button {
  background-color: #bd6f95;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
  font-size: 0.9em; /* Ajuste de tamaño de texto del botón */
  margin-top: auto; 
}
/* Contenedor del botón */
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Alinea el botón en la parte inferior */
  height: 50px; /* Altura fija para el contenedor */
  margin-top: auto;
  align-items: flex-end; /* Alinea el botón en la parte inferior */
}

.product-item button:hover {
  background-color: #a35c7a;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.header-container {
  display: flex;  /* Usamos flexbox para alinear el contenido */
  justify-content: space-between; /* Espacio entre el título y el ícono de filtro */
  align-items: center; /* Centra verticalmente el contenido */
}


.filter-icon {
  display: flex; /* Usamos flex para alinear el ícono y el texto */
  align-items: center; /* Centra verticalmente el ícono y el texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
  padding: 5px; /* Espacio alrededor del ícono */
  border: 1px solid #bd6f95; /* Borde alrededor del ícono */
  border-radius: 5px; /* Bordes redondeados para el ícono */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
  color: #bd6f95;
  margin-right:10px;
}
.filter-icon:hover {
  background-color: #e6c6d0; /* Color de fondo al pasar el mouse */
}
.filter-text {
  margin-left: 5px; /* Espacio entre el ícono y el texto */
  color: #bd6f95; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
}

.filter-form {
  display: flex;
  flex-direction: column;
  background-color: #fdeaf2; /* Fondo claro para el formulario */
  padding: 15px;
  border: 1px solid #bd6f95; /* Borde del formulario */
  border-radius: 8px;
  margin-bottom: 20px; /* Espaciado entre el formulario y los productos */
}

.filter-form input {
  margin-bottom: 10px; /* Espaciado entre los campos del formulario */
  padding: 10px;
  border: 1px solid #bd6f95; /* Borde de los inputs */
  border-radius: 5px;
}

.filter-form button {
  background-color: #bd6f95;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; 
}

.filter-form button:hover {
  background-color: #a35c7a; /* Cambio de color al pasar el mouse */
}
