.product-detail {
    position: relative; /* Posicionamiento relativo para el contenido del detalle */
    background-color: #ffffff; /* Fondo blanco para el detalle */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    max-width: 600px; /* Ancho máximo */
    width: 90%; /* Ancho responsivo */
  }
  .product-detail img {
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    margin-bottom: 10px;
  }
  
  .product-detail h2 {
    font-size: 24px; /* Tamaño de fuente para el nombre del producto */
    color: #bd6f95; /* Color del título del producto */
    margin: 10px 0; /* Espaciado */
  }
  
  .product-detail p {
    font-size: 16px; /* Tamaño de fuente para la descripción y precio */
    color: #c8799f; /* Color del texto */
    text-align: center; /* Centrar el texto */
    margin: 5px 0; /* Espaciado entre párrafos */
  }
  
  .product-detail .product-price {
    font-size: 20px; /* Tamaño de fuente para el precio */
    color: #bd6f95; /* Color para el precio */
    font-weight: bold; /* Hacer el precio más prominente */
    margin: 10px 0; /* Espaciado */
  }
  
  .product-detail .original-price {
    font-size: 14px; /* Tamaño de fuente para el precio original */
    color: #a5a5a5; /* Color gris para el precio original */
    text-decoration: line-through; /* Tachar el precio original */
    margin-left: 5px;
  }
  
  .product-detail button {
    margin-top: 20px; /* Espaciado arriba del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente para el botón */
    color: #ffffff; /* Color del texto en el botón */
    background-color: #bd6f95; /* Color del botón de compra */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Efecto de transición al cambiar de color */
  }
  
  .product-detail button:hover {
    background-color: #a75b7f; /* Color más oscuro al pasar el mouse */
  }