.navbar {
  font-family: "Fredoka", sans-serif;
  background-color: #fdeaf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.logo-and-links {
  display: flex;
  align-items: center;
}

.catalogo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.catalogo a {
  color: #bd6f95;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.catalogo a:hover {
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: #bd6f95;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #fbd5e5;
}

.search-and-icons {
  display: flex;
  align-items: center;
  position: relative; /* Asegura que el contenedor de las sugerencias se posicione respecto a la barra de búsqueda */
}

.icon-container {
  margin-left: 35px;
}

.nav-icon {
  font-size: 25px;
  color: #bd6f95;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: #fbd5e5;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  padding: 8px 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  outline: none;
  width: 200px;
}

.search-bar button {
  background-color: #bd6f95;
  border: none;
  padding: 8px 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #fbd5e5;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fbd5e5;
  padding: 5px 13px;
  border-radius: 8px;
  background-color: #fdeaf2;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 40px;
}

.logo:hover {
  background-color: #fbd5e5;
  border-color: #fbd5e5;
}

.logo img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

/* Sugerencias de productos */
.suggestions-box {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  margin-top: 5px;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-item:hover {
  background-color: #fdeaf2;
}

.suggestion-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.suggestion-details {
  display: flex;
  flex-direction: column;
}

.suggestion-details p {
  margin: 0;
  color: #bd6f95;
  font-size: 14px;
}
