/* src/components/Footer.css */
.footer {
    background-color: #fdeaf2; /* Fondo del footer */
    padding: 20px;
    text-align: center;
  }
  
  .contact-container {
    display: flex; /* Usar flexbox para disposición horizontal */
    justify-content: center; /* Centrar los elementos en el contenedor */
    align-items: center; /* Centrar verticalmente */
    margin-top: 10px; /* Margen superior para separar del título */
  }
  
  .footer-contact {
    display: flex; /* Para que el ícono y el texto estén alineados */
    align-items: center; /* Centrar verticalmente los íconos y el texto */
    margin: 0 10px; /* Margen horizontal entre los enlaces */
    text-decoration: none; /* Sin subrayado en el enlace */
    color: #bd6f95; /* Color del texto */
  }
  
  .footer-icon {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
  }
  