@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.home {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

h1 {
  color: #bd6f95;
  font-size: 2.5em;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p {
  color: #bd6f95;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Estilos para el Slider */
.slick-slider {
  margin: 20px auto;
  width: 50vw; /* Ancho completo de la ventana */
  overflow: hidden; /* Evitar el desbordamiento */
}

.slick-slide {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 300px; /* Altura fija para el contenedor del slide */
}

.image-container {
  width: 50%; /* Ancho completo del contenedor */
  height: 300px; /* Altura fija para el contenedor de la imagen */
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.slider-image {
  width: 50vw; /* Ancho completo de la ventana */
  height: 100%; /* Altura fija para asegurar que ocupe el contenedor */
  object-fit: cover; /* Recortar y ajustar la imagen */
  border-radius: 8px; 
}

.services {
  display: flex; /* Usar flexbox para disposición horizontal */
  justify-content: space-around; /* Espacio entre los elementos */
  margin: 20px 0; /* Margen superior e inferior */
}

.service-item {
  text-align: center; /* Centrar texto */
  max-width: 200px; /* Ancho máximo de los íconos */
  color: #bd6f95;
  background-color: #fdeaf2; /* Fondo del cuadro */
  border: 2px solid #bd6f95; /* Borde del cuadro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el cuadro */
  transition: transform 0.3s; /* Transición suave para el efecto hover */
}

.service-item:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.service-item p {
  margin-top: 10px; /* Margen entre el ícono y el texto */
  font-size: 1em; /* Tamaño del texto */
  color: #bd6f95; /* Color del texto */
}
