/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 15px;
  position: relative;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 20px;
  padding: 5px;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

/* Dropdown CSS */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
}

.dropdown-content li {
  padding: 10px;
  white-space: nowrap;
}

.dropdown-content li a {
  padding: 10px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a:hover {
  background-color: #555;
} */ 
 /* src/components/Navbar.css */
.navbar {
  background-color: #9C26A5; /* Color de fondo de la barra de navegación */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  color: #FFFFFF; /* Color del logo */
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none; /* Sin viñetas */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative; /* Para que el menú desplegable se posicione correctamente */
  margin: 0 15px; /* Espaciado entre elementos */
}

.navbar-links a {
  color: #FFFFFF; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave */
}

.navbar-links a:hover {
  background-color: #CC48D5; /* Color al pasar el mouse */
}

.dropdown-content {
  display: none; /* Ocultar subcategorías por defecto */
  position: absolute;
  background-color: #F5CBF8; /* Color de fondo del menú desplegable */
  min-width: 160px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block; /* Mostrar subcategorías al pasar el mouse */
}

.dropdown-content li {
  margin: 0; /* Sin margen entre subcategorías */
}

.dropdown-content a {
  color: #9C26A5; /* Color de los enlaces en subcategorías */
  padding: 10px; /* Espaciado en subcategorías */
  text-align: left; /* Alinear texto a la izquierda */
}

.dropdown-content a:hover {
  background-color: #DF8BE5; /* Color al pasar el mouse sobre subcategorías */
}
.logo img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}