@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  font-family: "Fredoka", sans-serif; /* Aplicar la fuente a todo el cuerpo */
  background-color: #fdeaf2; /* Fondo de la página */
  margin: 0;
  padding: 0;
}

.alternative-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Altura completa de la ventana */
}

.alternative-login h3 {
    color: #bd6f95; /* Color del texto del encabezado */
    margin-bottom: 20px;
    font-size: 28px; /* Aumentar el tamaño de la fuente */
    font-weight: 700; /* Opcional: Hacer el texto más grueso */
  }
  

.alternative-login form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* Fondo blanco del formulario */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 400px; /* Ancho del formulario */
  height: 280px;
}

.alternative-login label {
    margin: 10px 0 5px; /* Espaciado entre etiquetas */
    color: #bd6f95; /* Color de las etiquetas */
    font-size: 16px; /* Tamaño de la fuente de las etiquetas (ajusta según sea necesario) */
  }
  

  .alternative-login input {
    padding: 15px;
    margin: 0 0 40px 15px; /* Margen izquierdo agregado y margen inferior */
    border: 1px solid #bd6f95; /* Borde rosa */
    border-radius: 8px; /* Bordes redondeados */
    outline: none; /* Sin contorno */
    transition: border-color 0.3s ease; /* Transición suave del borde */
  }
  

.alternative-login input:focus {
  border-color: #bd6f95; /* Borde rosa al enfocar */
}

.alternative-login button {
  background-color: #bd6f95; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  padding: 12px;
  margin-top: 30px;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave de color */
}

.alternative-login button:hover {
  background-color: #fbd5e5; /* Cambio de color al pasar el cursor */
}

.alternative-login .error-message,
.alternative-login .success-message {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.alternative-login .error-message {
  background-color: #fbd5e5; /* Fondo suave para mensaje de error */
  color: #bd6f95; /* Color del texto del mensaje de error */
}

.alternative-login .success-message {
  background-color: #e6f8e0; /* Fondo suave para mensaje de éxito */
  color: #4caf50; /* Color del texto del mensaje de éxito */
}
